<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<link href="/css/non-responsive.css" rel="stylesheet" />

<link href="/css/font-awesome.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />

<style>
	table {
	border-collapse: collapse;
	}
	
	table, th, td {
	border:1px solid black;}
</style>
</head>
<body>
<p>Witaj! <span th:text="${user.firstName}"></span>,</p>
<br/>
<p>Dziekujemy za zakupy  w naszej przepieknej cukierni!</p>
<p>Twoj numer zamowienia to: <strong>#<span th:text="${order.id}"></span></strong>. Tutaj s¹ dane o kupionym,:</p>
<h2>Dane szczegó³owe na temat kupna #<span th:text="${order.id}"></span></h2>
<hr/>

<table>
	<tr>
		<th>Dane do zaplaty</th>
		<th>Dane o platnosciach</th>
		<th>Adres dostawy</th>
	</tr>
	<tr>
		<td>
			<span th:text="${order.billingAddress.billingAddressName}"></span><br/>
			<span th:text="${order.billingAddress.billingAddressStreet1}+' '+${order.billingAddress.billingAddressStreet2}"></span><br/>
			<span th:text="${order.billingAddress.billingAddressCity}"></span><br/>
			<span th:text="${order.billingAddress.billingAddressState}"></span><br/>
			<span th:text="${order.billingAddress.billingAddressZipcode}"></span><br/>
		</td>
		<td>
			<span th:text="${order.payment.holderName}"></span><br/>
			<span th:text="${order.payment.type}"></span><br/>
			<span th:text="${order.payment.cardNumber}"></span><br/>
			<span th:text="${order.payment.expiryMonth}"></span><br/>
			<span th:text="${order.payment.expiryYear}"></span><br/>
		</td>
		<td>
			<span th:text="${order.shippingAddress.shippingAddressName}"></span><br/>
			<span th:text="${order.shippingAddress.shippingAddressStreet1}+' '+${order.shippingAddress.shippingAddressStreet2}"></span><br/>
			<span th:text="${order.shippingAddress.shippingAddressCity}"></span><br/>
			<span th:text="${order.shippingAddress.shippingAddressState}"></span><br/>
			<span th:text="${order.shippingAddress.shippingAddressZipcode}"></span><br/>
		</td>
	</tr>
</table>

<h3><strong>Podsumowanie zamowienia</strong></h3>
<table>
<thead>
	<tr>
		<td><strong>Nazwy produktow</strong></td>
		<td class="text-center"><strong>Cena za sztuke/kg</strong></td>
		<td class="text-center"><strong>Ilosc zamowionych</strong></td>
		<td class="text-right"><strong>Calosc</strong></td>
	</tr>
</thead>
<tbody>
	<tr th:each="cartItem : ${cartItemList}">
		<td><span data-th-text="${cartItem.book.title}"></span></td>
		<td class="text-center" data-th-text="${cartItem.book.ourPrice}"></td>
		<td class="text-center" data-th-text="${cartItem.qty}"></td>
		<td class="text-right" data-th-text="${cartItem.subtotal}"></td>
	</tr>
	<tr>
		<td class="highrow"></td>
		<td class="highrow"></td>
		<td class="highrow text-center"><strong>Podsumowanie</strong></td>
		<td class="highrow text-right" data-th-text="${order.orderTotal}"></td>
	</tr>
	<tr>
		<td class="emptyrow"></td>
		<td class="emptyrow"></td>
		<td class="emptyrow text-center"><strong>Podatek</strong></td>
		<td class="emptyrow text-right" data-th-text="${#numbers.formatDecimal(order.orderTotal*0.25,0,2)}"></td>
	</tr>
	<tr>
		<td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
		<td class="emptyrow"></td>
		<td class="emptyrow text-center"><strong>Podsumowanie pelne</strong></td>
		<td th:with="total=${order.orderTotal+order.orderTotal*0.25}"
            data-th-text="${#numbers.formatDecimal(total, 0, 2)}"
            class="emptyrow text-right">
        </td>
	</tr>
</tbody>
</table>

<br/>
<p>Dzieki za zakupy,</p>
<p>Cukiernia pozdrawia</p>

</body>
</html>